.name-tags {
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  background-color: lightgray;
}

.name-tags-name {
    background-color: azure;
}

/* The Override */
.green-override {
  border-color: #2ecc71; /* Green border */
  background-color: #2ecc71;
  color: white;;
}