* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#root {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}