.item{
    border: 1px solid grey;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-btn{
    width : 100px;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px;
}